<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    welcome
    <div>LOGIN</div>
    <form action="/login" method="post">
            <div><input type="text" id="username" name="username" placeholder="用户名" /></div>
            <div><input type="text" id="password" name= "password" placeholder="密码" /></div>
            <di><button type="submit">登录</button></di>
    </form>
    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script>
        // function login(){
        //     console.log('login')
        //     var userName = $('#username').val()
        //     var password = $('#password').val()
        //     console.log(userName, password)
        //     $.ajax({
        //         url: '/login',
        //         data: {
        //             username: userName,
        //             password: password
        //         },
        //         dataType:'json',
        //         method: 'post',
        //         success: function() {
        //             console.log('123')
        //         }
        //     })
        // }
    </script>
</body>
</html>